
@{
    ViewData["Title"] = _localizer.GetString("Playlist");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Home/_breadcrumb.cshtml", new string[] { "myaccount", "Playlist" })


<div class="play_list">
    <div class="container" id="divPlaylist">
        @Html.Action("GetPlaylist", "Client")
    </div>
</div>