
<nav class="navbar navbar-expand-lg custom-navbar">

    <div class="collapse navbar-collapse" id="WafiAdminNavbar">
        <ul class="navbar-nav">

            <li class="nav-item  dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="Home" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-home nav-icon"></i>
                    الرئيسية
                </a>

            </li>




            <li class="nav-item dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="Podcast" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-location-pin nav-icon"></i>
                    التدوين الصوتي
                </a>

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="uiElementsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-mic nav-icon"></i>
                    ملفات الصوت
                </a>
                <ul class="dropdown-menu" aria-labelledby="uiElementsDropdown">
                    <li>
                        <a class="dropdown-item " is-active-route asp-class="active-page" asp-controller="AudioType" asp-action="Index">
                            انواع ملفات الصوت
                        </a>

                    </li>
                    <li>
                        <a class="dropdown-item " is-active-route asp-class="active-page" asp-controller="Audio" asp-action="Index">
                            ملفات الصوت
                        </a>

                    </li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="Category" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book-open nav-icon"></i>
                    فئات الكتب
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="Article" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-feather nav-icon"></i>
                    المقالات
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Tag" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-bookmarks nav-icon"></i>
                    الأوسمة
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="Client" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-users nav-icon"></i>
                    المستخدمين
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " is-active-route asp-class="active-page" asp-controller="PrintBook" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book-open nav-icon"></i>
                    طباعة الكتب
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" is-active-route asp-class="active-page" asp-controller="AboutUs" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-adjust nav-icon"></i>
                    من نحن
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" is-active-route asp-class="active-page" asp-controller="ContactUs" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-phone_in_talk nav-icon"></i>
                    تواصل معنا
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Setting" asp-action="Index" id="tablesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-cog nav-icon"></i>
                    الاعدادات
                </a>

            </li>

        </ul>
    </div>
</nav>