@{

    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="~/images/logo/logo2.png" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />


    <!-- Title -->
    <title>أوديو كتاب</title>


    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="~/fonts/style.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/main.css">

    <!-- *************
        ************ Vendor Css Files *************
    ************ -->




</head>
<body class="authentication">

    <div id="particles-js"></div>
    <div class="countdown-bg"></div>

    <div class="error-screen">
        <h1> 404 <i class="fa fa-map-signs text-white"></i></h1>
        <h3 class="not_found">Not Found</h3>
        <a href="@Url.Action("Index","Home")" class="btn home"><i class="icon-home"></i> الرئيسية</a>
    </div>

    <!--**************************
        **************************
            **************************
                        Required JavaScript Files
            **************************
        **************************
    **************************-->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/moment.js"></script>

    <!-- *************
        ************ Vendor Js Files *************
    ************* -->


</body>
</html>