
<div class="modal-body">
    <div class="pass_return">
        <form action="/Account/ForgetPassword" id="frmForgetPassword">

            <div class="row">
                <div class="col-12">
                    <div class="circle_passreturn">
                        <img src="~/assets/img/icon/popup-mail.png">
                    </div>
                    <h3 class="return-pass">@_localizer["PasswordRecovery"]</h3>
                    <p>@_localizer["recoverylink"]</p>
                    <div class="form-group">
                        <span class="placeholder-img"><img src="~/assets/img/icon/login-email.png"></span>
                        <input id="emailForgetPassword" name="email" class="form-control " placeholder="@_localizer["email"]" type="email" required>
                    </div>
                    <div class="login">
                        <a  class="btn btn-add returnpassword">@_localizer["PasswordRecovery"]</a>
                    </div>
                </div>
            </div>

        </form>
        
    </div>
</div>